html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}   

body, html, section {
    height: 100%;
}

figure {
    margin: 0;
}

article {
    position: absolute;
    overflow: hidden;
}

article:nth-of-type(5n+1) {
    top: 0;
    left: 0;
    width: 33.33333%;
    height: 66.66667%;
}
article:nth-of-type(5n+2) {
    right: 0;
    top: 0;
    width: 66.66667%;
    height: 33.33333%;
}
article:nth-of-type(5n+3) {
    top: 33.33333%;
    left: 33.33333%;
    width: 33.33333%;
    height: 33.33333%;
}
article:nth-of-type(5n+4) {
    right: 0;
    bottom: 0;
    width: 33.33333%;
    height: 66.66667%;
}
article:nth-of-type(5n+5) {
    bottom: 0;
    left: 0;
    width: 66.66667%;
    height: 33.33333%;
}





article a {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

article figure {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


article:nth-of-type(5n+1) figure {
    background-repeat: no-repeat;
    background-color: #00002d;
    width: 1000px;
    height: 1000px;
    background-size: 1000px 1000px;
    background-image: url('https://picsum.photos/1000/1000?image=1016'); 
}
article:nth-of-type(5n+4) figure {
    background-repeat: no-repeat;
    background-color: #00002d;
    width: 1000px;
    height: 1000px;
    background-size: 1000px 1000px; 
    background-image: url('https://picsum.photos/1000/1000?image=1016'); 
}


article:nth-of-type(5n+2) figure {
    background-repeat: no-repeat;
    background-color: #00002d;
    width: 1480px;
    height: 600px;
    background-size: 1480px 600px;  
    background-image: url('https://picsum.photos/1480/600?image=1016');     
}
article:nth-of-type(5n+5) figure {
    background-repeat: no-repeat;
    background-color: #00002d;
    width: 1480px;
    height: 600px;
    background-size: 1480px 600px;      
    background-image: url('https://picsum.photos/1480/600?image=1016');     
}

article:nth-of-type(5n+3) figure {
    background-repeat: no-repeat;
    background-color: #00002d;
    width: 800px;
    height: 800px;
    background-size: 800px 800px;       
    background-image: url('https://picsum.photos/800/800?image=1016');  
}